Repository LuYixian/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: fmt, fmt-check-tmpl, lint

fmt:
  name: Format
  language: system
  pass_filenames: false
  ...

fmt-check-tmpl:
  name: Format check templates
  language: system
  pass_filenames: false
  ...

lint:
  name: Lint
  language: system
  pass_filenames: false
  ...

refactor(claude): deep audit cleanup and workflow optimization
  .chezmoiscripts/run_onchange_after_08_flatten_claude_plugins.sh.tmpl
  dot_claude/CLAUDE.md.tmpl
  dot_claude/agents/quality/code-auditor.md
  dot_claude/commands/core/debug.md
  dot_claude/commands/review/review.md
  dot_claude/commands/review/security-review-deep.md
  dot_claude/commands/review/security-scan.md
  dot_claude/context/guardrails.md
  dot_claude/skills/python-best-practices/SKILL.md
  dot_claude/skills/python-best-practices/resources/testing.md
  dot_claude/skills/python-best-practices/resources/typing.md
  dot_claude/skills/security-review/SKILL.md
Due: fmt, fmt-check-tmpl, lint

refactor(claude): simplify plugin sync - remove manifest, merge workflows
  .github/scripts/sync-claude-plugins.sh
  .github/workflows/sync-claude-plugins.yml
  .github/workflows/update-plugin-metadata.yml
  dot_claude/.plugin-manifest.yaml
Due: fmt, lint

fix(claude): use explicit localDirectories instead of git detection
  .chezmoidata/claude.yaml
  .github/scripts/sync-claude-plugins.sh
Due: fmt, lint

refactor(claude): restructure yaml with wshobson namespace
  .chezmoidata/claude.yaml
  .github/scripts/sync-claude-plugins.sh
  .github/workflows/sync-claude-plugins.yml
  dot_claude/CLAUDE.md.tmpl
Due: fmt, fmt-check-tmpl, lint

refactor(sync): simplify with delete-then-sync strategy
  .github/scripts/sync-claude-plugins.sh
Due: fmt, lint

fix(metadata): use new wshobson.registry path
  .github/scripts/update-plugin-metadata.sh
Due: fmt, lint

fix(pre-commit): update test config to new wshobson structure
  .pre-commit-config.yaml
Due: fmt

fix(claude): remove broken context file references
  dot_claude/CLAUDE.md.tmpl
Due: fmt-check-tmpl

fix(agent-organizer): remove stale legacy-modernizer reference
  dot_claude/agents/workflow/agent-organizer.md
Due: fmt

revert: restore legacy-modernizer agent
  dot_claude/agents/development/legacy-modernizer.md
  dot_claude/agents/workflow/agent-organizer.md
Due: fmt

fix(workflow): add nix + treefmt for consistent formatting
  .github/workflows/sync-claude-plugins.yml
Due: fmt

fix(workflow): format all synced file types
  .github/workflows/sync-claude-plugins.yml
Due: fmt

feat(sync): add superpowers exclude config
  .chezmoidata/claude.yaml
  .github/scripts/sync-claude-plugins.sh
  dot_claude/skills/superpowers/using-superpowers/SKILL.md
Due: fmt, lint

fix(review): address code review findings
  .chezmoidata/claude.yaml
  .github/scripts/sync-claude-plugins.sh
  dot_claude/agents/workflow/agent-organizer.md
  dot_claude/commands/code-documentation/code-explain.md
  dot_claude/skills/developer-essentials/code-review-excellence/SKILL.md
  dot_claude/skills/superpowers/brainstorming/SKILL.md
  dot_claude/skills/superpowers/dispatching-parallel-agents/SKILL.md
  dot_claude/skills/superpowers/executing-plans/SKILL.md
  dot_claude/skills/superpowers/finishing-a-development-branch/SKILL.md
  dot_claude/skills/superpowers/receiving-code-review/SKILL.md
  dot_claude/skills/superpowers/requesting-code-review/SKILL.md
  dot_claude/skills/superpowers/requesting-code-review/code-reviewer.md
  dot_claude/skills/superpowers/subagent-driven-development/SKILL.md
  dot_claude/skills/superpowers/systematic-debugging/CREATION-LOG.md
  dot_claude/skills/superpowers/systematic-debugging/SKILL.md
  dot_claude/skills/superpowers/systematic-debugging/condition-based-waiting.md
  dot_claude/skills/superpowers/systematic-debugging/defense-in-depth.md
  dot_claude/skills/superpowers/systematic-debugging/find-polluter.sh
  dot_claude/skills/superpowers/systematic-debugging/root-cause-tracing.md
  dot_claude/skills/superpowers/systematic-debugging/test-pressure-1.md
  dot_claude/skills/superpowers/systematic-debugging/test-pressure-2.md
  dot_claude/skills/superpowers/systematic-debugging/test-pressure-3.md
  dot_claude/skills/superpowers/test-driven-development/SKILL.md
  dot_claude/skills/superpowers/test-driven-development/testing-anti-patterns.md
  dot_claude/skills/superpowers/using-git-worktrees/SKILL.md
  dot_claude/skills/superpowers/verification-before-completion/SKILL.md
  dot_claude/skills/superpowers/writing-plans/SKILL.md
  dot_claude/skills/superpowers/writing-skills/SKILL.md
  dot_claude/skills/superpowers/writing-skills/anthropic-best-practices.md
  dot_claude/skills/superpowers/writing-skills/examples/CLAUDE_MD_TESTING.md
  dot_claude/skills/superpowers/writing-skills/persuasion-principles.md
  dot_claude/skills/superpowers/writing-skills/testing-skills-with-subagents.md
Due: fmt, lint

fix: add missing newline at end of graphviz-conventions.dot
  dot_claude/skills/superpowers/writing-skills/graphviz-conventions.dot
Due: none

fix(ci): pin prettier to 3.6.2 to avoid incorrect formatting
  .github/workflows/ci.yml
  dot_claude/skills/superpowers/writing-skills/anthropic-best-practices.md
Due: fmt

chore(homebrew): enable antigravity for consistent tooling across machines
  .chezmoidata/homebrew.yaml
Due: fmt

chore(homebrew): remove antigravity cask
  .chezmoidata/homebrew.yaml
Due: fmt

chore(homebrew): remove antigravity cask (#13)
  .chezmoidata/homebrew.yaml
Due: fmt

feat(ci): switch to Gemini CLI for keyword generation
  .github/scripts/update-plugin-metadata.sh
  .github/workflows/sync-claude-plugins.yml
Due: fmt, lint

feat(ci): switch to Gemini CLI for keyword generation (#14)
  .github/scripts/update-plugin-metadata.sh
  .github/workflows/sync-claude-plugins.yml
Due: fmt, lint

feat(claude): configurable plugin sources with repo settings
  .chezmoidata/claude.yaml
  .github/scripts/sync-claude-plugins.sh
  .github/workflows/sync-claude-plugins.yml
Due: fmt, lint

refactor(claude): rename keys to camelCase (wshobsonAgents, anthropicsSkills)
  .chezmoidata/claude.yaml
  .github/scripts/sync-claude-plugins.sh
  .github/workflows/sync-claude-plugins.yml
Due: fmt, lint

fix(claude): update template and pre-commit refs to new key names
  .pre-commit-config.yaml
  dot_claude/CLAUDE.md.tmpl
Due: fmt, fmt-check-tmpl

feat(claude): add changelog-generator to local skills
  .chezmoidata/claude.yaml
  dot_claude/skills/changelog-generator/SKILL.md
Due: fmt

feat(claude): configurable plugin sources with repo settings (#15)
  .chezmoidata/claude.yaml
  .github/scripts/sync-claude-plugins.sh
  .github/workflows/sync-claude-plugins.yml
  .pre-commit-config.yaml
  dot_claude/CLAUDE.md.tmpl
  dot_claude/skills/changelog-generator/SKILL.md
Due: fmt, fmt-check-tmpl, lint

refactor(secrets): migrate from 1Password to gopass
  .chezmoidata/aerospace.yaml
  .chezmoidata/hammerspoon.yaml
  .chezmoidata/homebrew.yaml
  .chezmoidata/nix.yaml
  .chezmoiscripts/run_once_before_01_setup-encryption-key.sh
  README.ja.md
  README.md
  README.zh-CN.md
  dot_zshrc
  nix-config/modules/system.nix.tmpl
  private_dot_config/git/config.tmpl
Due: fmt, fmt-check-tmpl, lint

feat(gpg): add backup/restore scripts and agent config
  dot_local/bin/executable_gpg-backup
  dot_local/bin/executable_gpg-restore
  dot_zshrc
  nix-config/modules/system.nix.tmpl
  private_dot_gnupg/gpg-agent.conf
Due: fmt-check-tmpl, lint

refactor(secrets): migrate from 1Password to gopass (#16)
  .chezmoidata/aerospace.yaml
  .chezmoidata/hammerspoon.yaml
  .chezmoidata/homebrew.yaml
  .chezmoidata/nix.yaml
  .chezmoiscripts/run_once_before_01_setup-encryption-key.sh
  README.ja.md
  README.md
  README.zh-CN.md
  dot_local/bin/executable_gpg-backup
  dot_local/bin/executable_gpg-restore
  dot_zshrc
  nix-config/modules/system.nix.tmpl
  private_dot_config/git/config.tmpl
  private_dot_gnupg/gpg-agent.conf
Due: fmt, fmt-check-tmpl, lint

feat(claude): add gopass-based provider switcher
  dot_local/bin/executable_claude-switch
Due: none

refactor(claude-switch): make provider defaults configurable via chezmoi
  .chezmoidata/claude.yaml
  dot_local/bin/executable_claude-switch.tmpl
Due: fmt, fmt-check-tmpl

refactor(claude-switch): use settings.json instead of exports.sh
  .chezmoi.toml.tmpl
  dot_claude/settings.json.tmpl
  dot_custom/exports.sh.tmpl
  dot_local/bin/executable_claude-switch.tmpl
Due: fmt-check-tmpl, lint

feat(claude-switch): add comprehensive provider configs from official docs
  .chezmoidata/claude.yaml
  dot_claude/settings.json.tmpl
Due: fmt, fmt-check-tmpl

feat(claude-switch): add auto-update workflow and remove _CLAUDE_PROVIDER
  .github/workflows/update-claude-providers.yml
  dot_claude/settings.json.tmpl
Due: fmt, fmt-check-tmpl

fix(claude-switch): correct haiku model version and doubao docs URL
  .chezmoidata/claude.yaml
  .github/workflows/update-claude-providers.yml
Due: fmt

refactor(claude-switch): rewrite update workflow with Gemini CLI
  .github/scripts/update-claude-providers.sh
  .github/workflows/update-claude-providers.yml
Due: fmt, lint

fix(claude-switch): correct doubao docs URL to /1928261
  .chezmoidata/claude.yaml
  .github/scripts/update-claude-providers.sh
  .github/workflows/update-claude-providers.yml
Due: fmt, lint

Path conditions:
  fmt: any of: \.(sh|nix|lua|md|json|yaml|yml)$, but not: \.tmpl$
  fmt-check-tmpl: any of: \.tmpl$, but not: Spoons/
  lint: any of: \.(sh|lua|nix)
