Repository LuYixian/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: fmt, fmt-check-tmpl, lint

Path conditions:
  fmt: any of: \.(sh|nix|lua|md|json|yaml|yml)$, but not: \.tmpl$
  fmt-check-tmpl: any of: \.tmpl$, but not: Spoons/
  lint: any of: \.(sh|lua|nix)

fix(claude-switch): correct kimi docs URL to agent-support page
  .chezmoidata/claude.yaml
  .github/scripts/update-claude-providers.sh
  .github/workflows/update-claude-providers.yml
Due: fmt, lint

feat(claude-switch): add Playwright for JS-rendered doc pages
  .github/scripts/fetch-provider-docs.js
  .github/scripts/update-claude-providers.sh
  .github/workflows/update-claude-providers.yml
Due: fmt, lint

chore(claude): increase fetch timeout and change to monthly schedule
  .github/scripts/fetch-provider-docs.js
  .github/workflows/update-claude-providers.yml
Due: fmt

fix(claude): improve provider doc fetching and JSON parsing
  .github/scripts/fetch-provider-docs.js
  .github/scripts/update-claude-providers.sh
Due: fmt, lint

chore(claude): update doubao model to ark-code-latest
  .chezmoidata/claude.yaml
Due: fmt

chore(claude): update kimi model to kimi-k2-thinking-turbo
  .chezmoidata/claude.yaml
Due: fmt

fix(claude-switch): improve extraction and portability
  .chezmoidata/claude.yaml
  .github/scripts/update-claude-providers.sh
  dot_local/bin/executable_claude-switch.tmpl
Due: fmt, fmt-check-tmpl, lint

feat(claude-switch): add apiKeyHelper for dynamic token fetching
  dot_claude/settings.json.tmpl
  dot_local/bin/executable_claude-get-token
Due: fmt-check-tmpl

feat(claude-switch): add multi-account support and test command
  .chezmoi.toml.tmpl
  .chezmoidata/claude.yaml
  dot_claude/settings.json.tmpl
  dot_local/bin/executable_claude-get-token
  dot_local/bin/executable_claude-switch.tmpl
Due: fmt, fmt-check-tmpl

refactor(settings): simplify template, remove account parsing
  dot_claude/settings.json.tmpl
Due: fmt-check-tmpl

fix(claude-switch): use /v1/messages for API connectivity test
  dot_local/bin/executable_claude-switch.tmpl
Due: fmt-check-tmpl

feat(claude): add gopass-based provider switcher (#20)
  .chezmoi.toml.tmpl
  .chezmoidata/claude.yaml
  .github/scripts/fetch-provider-docs.js
  .github/scripts/update-claude-providers.sh
  .github/workflows/update-claude-providers.yml
  dot_claude/settings.json.tmpl
  dot_custom/exports.sh.tmpl
  dot_local/bin/executable_claude-get-token
  dot_local/bin/executable_claude-switch.tmpl
Due: fmt, fmt-check-tmpl, lint

chore(zsh): remove zsh-autocomplete plugin
  private_dot_config/sheldon/plugins.toml
Due: none

fix(zsh): unbind Ctrl+P/N from zsh-autocomplete
  private_dot_config/sheldon/plugins.toml
Due: none

feat(zsh): replace zsh-autocomplete with fzf-tab
  .pre-commit-config.yaml
  dot_custom/fzf-tab.zsh
  dot_zshrc
  private_dot_config/sheldon/plugins.toml
Due: fmt

feat(zsh): replace zsh-autocomplete with fzf-tab (#23)
  .pre-commit-config.yaml
  dot_custom/fzf-tab.zsh
  dot_zshrc
  private_dot_config/sheldon/plugins.toml
Due: fmt

feat(fzf-tab): add command preview with tldr/whatis
  dot_custom/fzf-tab.zsh
Due: none

feat(fzf-tab): add command preview with tldr/whatis (#24)
  dot_custom/fzf-tab.zsh
Due: none

chore(nix): update flake.lock for linux
  nix-config/.flake-linux.lock
Due: none

chore(nix): update flake.lock for darwin
  nix-config/.flake-darwin.lock
Due: none

chore(versions): update pinned versions
  .chezmoidata/versions.yaml
Due: fmt

feat(ci): add unified scheduler and use PAT for PR creation
  .github/workflows/scheduler.yml
  .github/workflows/sync-claude-plugins.yml
  .github/workflows/update-claude-providers.yml
  .github/workflows/update-flake-lock.yml
  .github/workflows/update-versions.yml
Due: fmt

feat(ci): add unified scheduler and use PAT for PR creation (#28)
  .github/workflows/scheduler.yml
  .github/workflows/sync-claude-plugins.yml
  .github/workflows/update-claude-providers.yml
  .github/workflows/update-flake-lock.yml
  .github/workflows/update-versions.yml
Due: fmt

fix(ci): use GH_PAT in scheduler to trigger workflows
  .github/workflows/scheduler.yml
Due: fmt

fix(ci): use GH_PAT in scheduler to trigger workflows (#30)
  .github/workflows/scheduler.yml
Due: fmt

fix(ci): handle multiline JSON in plugin metadata script
  .github/scripts/update-plugin-metadata.sh
Due: fmt, lint

fix(ci): handle broken pipe in update-claude-providers.sh
  .github/scripts/update-claude-providers.sh
Due: fmt, lint

fix(ci): handle multiline JSON in plugin metadata script (#34)
  .github/scripts/update-claude-providers.sh
  .github/scripts/update-plugin-metadata.sh
Due: fmt, lint

chore(claude): update provider configs
  .chezmoidata/claude.yaml
  .gemini/commands/gemini-invoke.toml
  .gemini/commands/gemini-issue-fixer.toml
  .gemini/commands/gemini-review.toml
  .gemini/commands/gemini-scheduled-triage.toml
  .gemini/commands/gemini-triage.toml
  .github/scripts/update-claude-providers.sh
  package-lock.json
  package.json
Due: fmt, lint

fix(ci): use wc -l instead of grep -c for change counting
  .github/workflows/sync-claude-plugins.yml
Due: fmt

fix(ci): update GLM documentation URL
  .chezmoidata/claude.yaml
  .github/scripts/fetch-provider-docs.js
  .github/scripts/update-claude-providers.sh
  .github/workflows/update-claude-providers.yml
Due: fmt, lint

fix(ci): upgrade Gemini model and restrict PR file paths
  .github/workflows/sync-claude-plugins.yml
  .github/workflows/update-claude-providers.yml
Due: fmt

fix(ci): use wc -l instead of grep -c for change counting (#36)
  .github/workflows/sync-claude-plugins.yml
Due: fmt

fix(ci): update GLM documentation URL (#37)
  .chezmoidata/claude.yaml
  .github/scripts/fetch-provider-docs.js
  .github/scripts/update-claude-providers.sh
  .github/workflows/update-claude-providers.yml
Due: fmt, lint

fix(ci): upgrade Gemini model and restrict PR file paths (#38)
  .github/workflows/sync-claude-plugins.yml
  .github/workflows/update-claude-providers.yml
Due: fmt

fix(ci): improve robustness and upgrade dependencies
  .github/scripts/update-claude-providers.sh
  .github/scripts/update-plugin-metadata.sh
  .github/workflows/sync-claude-plugins.yml
  .github/workflows/update-claude-providers.yml
Due: fmt, lint
