Repository LuYixian/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: treefmt, selene, statix, check-templates

treefmt:
  name: Format (treefmt)
  language: system
  pass_filenames: false
  entry: treefmt

selene:
  name: Selene (Lua)
  language: system
  entry: selene

statix:
  name: Statix (Nix)
  language: system
  pass_filenames: false
  entry: statix check nix-config/

check-templates:
  name: Validate templates (render + check)
  language: system
  pass_filenames: false
  ...

feat(homebrew): add QQ to masApps
  .chezmoidata/homebrew.yaml
Due: treefmt

feat(homebrew): add QQ to masApps (#63)
  .chezmoidata/homebrew.yaml
Due: treefmt

docs: update README plugin information
  README.ja.md
  README.md
  README.zh-CN.md
Due: treefmt

docs: update README plugin information (#64)
  README.ja.md
  README.md
  README.zh-CN.md
Due: treefmt

chore(nix): update flake.lock for darwin (2026-01-26)
  nix-config/.flake-darwin.lock
  nix-config/.flake-linux.lock
Due: none

chore(nix): move pre-commit from nixpkgs to mise
  .chezmoidata/nix.yaml
  private_dot_config/mise/config.toml.tmpl
Due: treefmt, check-templates

chore(nix): update flake.lock + move pre-commit to mise (#65)
  .chezmoidata/nix.yaml
  nix-config/.flake-darwin.lock
  nix-config/.flake-linux.lock
  private_dot_config/mise/config.toml.tmpl
Due: treefmt, check-templates

docs: update repobeats analytics image
  README.ja.md
  README.md
  README.zh-CN.md
Due: treefmt

docs: update repobeats analytics image (#66)
  README.ja.md
  README.md
  README.zh-CN.md
Due: treefmt

fix: address code review findings (Critical/High/Medium/Low)
  .chezmoi.toml.tmpl
  .chezmoidata/aerospace.yaml
  .chezmoidata/hammerspoon.yaml
  .chezmoidata/homebrew.yaml
  .chezmoidata/nix.yaml
  .chezmoiscripts/run_onchange_after_07_install-paperlib.sh.tmpl
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  dot_claude/hooks/executable_block-git-rewrites.sh
  dot_claude/hooks/executable_block-main-edits.sh
  dot_claude/hooks/executable_enforce-uv.sh
  dot_claude/hooks/executable_format-code.sh
  dot_claude/hooks/executable_format-python.sh
  dot_claude/hooks/executable_skill-hint.sh
  dot_claude/hooks/scripts/executable_bundle-size-check.sh
  dot_custom/functions.sh
  dot_custom/utils.sh
  dot_local/bin/executable_claude-switch.tmpl
  dot_local/bin/executable_gpg-backup
  init.sh
Due: treefmt, check-templates

fix: correct Go template comment syntax in chezmoi.toml.tmpl
  .chezmoi.toml.tmpl
Due: check-templates

fix: address code review findings (Critical/High/Medium/Low) (#67)
  .chezmoi.toml.tmpl
  .chezmoidata/aerospace.yaml
  .chezmoidata/hammerspoon.yaml
  .chezmoidata/homebrew.yaml
  .chezmoidata/nix.yaml
  .chezmoiscripts/run_onchange_after_07_install-paperlib.sh.tmpl
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  dot_claude/hooks/executable_block-git-rewrites.sh
  dot_claude/hooks/executable_block-main-edits.sh
  dot_claude/hooks/executable_enforce-uv.sh
  dot_claude/hooks/executable_format-code.sh
  dot_claude/hooks/executable_format-python.sh
  dot_claude/hooks/executable_skill-hint.sh
  dot_claude/hooks/scripts/executable_bundle-size-check.sh
  dot_custom/functions.sh
  dot_custom/utils.sh
  dot_local/bin/executable_claude-switch.tmpl
  dot_local/bin/executable_gpg-backup
  init.sh
Due: treefmt, check-templates

chore(gpg): rely on defaults to avoid stale pinentry and TTL settings
  private_dot_gnupg/gpg-agent.conf
Due: none

chore(gpg): rely on defaults to avoid stale pinentry and TTL settings (#68)
  private_dot_gnupg/gpg-agent.conf
Due: none

fix(claude-switch): improve multi-account gopass token handling
  dot_local/bin/executable_claude-switch.tmpl
Due: check-templates

chore(claude-switch): drop legacy gopass token path
  dot_local/bin/executable_claude-switch.tmpl
Due: check-templates

fix(claude-switch): resolve default account from gopass
  dot_local/bin/executable_claude-switch.tmpl
Due: check-templates

feat(claude-switch): prompt to select account
  dot_local/bin/executable_claude-switch.tmpl
Due: check-templates

feat(claude-switch): notify when auto-picking account
  dot_local/bin/executable_claude-switch.tmpl
Due: check-templates

feat(claude-switch): align add-key account resolution
  dot_local/bin/executable_claude-switch.tmpl
Due: check-templates

refactor(claude-switch): unify account selection and harden inputs
  dot_local/bin/executable_claude-switch.tmpl
Due: check-templates

fix(claude-switch): improve multi-account gopass token handling (#69)
  dot_local/bin/executable_claude-switch.tmpl
Due: check-templates

feat(nix): add actionlint and golangci-lint for pre-commit hooks
  .chezmoidata/nix.yaml
Due: treefmt

feat(nix): add actionlint and golangci-lint for pre-commit hooks (#70)
  .chezmoidata/nix.yaml
Due: treefmt

feat(nix): add goreleaser for Go release automation
  .chezmoidata/nix.yaml
Due: treefmt

feat(nix): add goreleaser for Go release automation (#71)
  .chezmoidata/nix.yaml
Due: treefmt

fix(claude-providers): update kimi docs URL and add v1 stripping rule
  .chezmoidata/claude.yaml
  .github/scripts/fetch-provider-docs.js
  .github/scripts/update-claude-providers.sh
  .github/workflows/update-claude-providers.yml
Due: treefmt

fix(claude-providers): update kimi docs URL and add v1 stripping rule (#72)
  .chezmoidata/claude.yaml
  .github/scripts/fetch-provider-docs.js
  .github/scripts/update-claude-providers.sh
  .github/workflows/update-claude-providers.yml
Due: treefmt

feat(zsh): enhance ghq + fzf integration
  dot_custom/functions.sh
Due: treefmt

feat(zsh): enhance ghq + fzf integration (#73)
  dot_custom/functions.sh
Due: treefmt

refactor(claude): rename and enhance provider management tools
  dot_claude/settings.json.tmpl
  dot_local/bin/executable_claude-get-token
  dot_local/bin/executable_claude-provider.tmpl
  dot_local/bin/executable_claude-switch.tmpl
  dot_local/bin/executable_claude-token
  dot_local/bin/executable_claude-with.tmpl
Due: check-templates

fix(claude): address code review findings
  dot_local/bin/executable_claude-provider.tmpl
  dot_local/bin/executable_claude-token
  dot_local/bin/executable_claude-with.tmpl
Due: check-templates

docs(claude): add provider tools documentation
  README.md
  doc/claude-provider.md
Due: treefmt

refactor(claude-provider): simplify FZF integration
  doc/claude-provider.md
  dot_local/bin/executable_claude-provider.tmpl
  dot_local/bin/executable_claude-with.tmpl
Due: treefmt, check-templates

feat(claude-provider): add aliases and FZF add-key option
  dot_custom/alias.sh
  dot_local/bin/executable_claude-provider.tmpl
  dot_local/bin/executable_claude-with.tmpl
Due: treefmt, check-templates

refactor(claude): rename claude-provider to claude-manage
  doc/claude-provider.md
  dot_custom/alias.sh
  dot_local/bin/executable_claude-manage.tmpl
  dot_local/bin/executable_claude-with.tmpl
Due: treefmt, check-templates

chore(alias): change aliases to ccw and ccm
  doc/claude-provider.md
  dot_custom/alias.sh
Due: treefmt

refactor(claude-manage): simplify to account-based management
  doc/claude-provider.md
  dot_local/bin/executable_claude-manage.tmpl
Due: treefmt, check-templates

refactor(claude): add shared library and fix compatibility issues
  .chezmoidata/claude.yaml
  doc/claude-provider.md
  dot_claude/settings.json.tmpl
  dot_local/bin/executable_claude-lib.tmpl
  dot_local/bin/executable_claude-manage.tmpl
  dot_local/bin/executable_claude-token
  dot_local/bin/executable_claude-with.tmpl
Due: treefmt, check-templates

fix(workflow): update provider update script for new YAML structure
  .github/scripts/update-claude-providers.sh
Due: treefmt

Path conditions:
  treefmt: any of: \.(sh|nix|lua|md|json|yaml|yml)$, but not: \.tmpl$
  selene: any of: \.lua$, but not: (\.tmpl$|Spoons/)
  statix: any of: \.nix$, but not: \.tmpl$
  check-templates: any of: \.tmpl$, but not: Spoons/
